// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background-md {
    background: rgb(33, 34, 94);
    color: #fff;
}
.fixed-content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
    background-color: transparent;
}
.button-md {
    
    background-color: transparent;
    
}
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color:#fff;
}
.side-menu-wraper{
    background-color: transparent;
    color:#fff;
}
.side-menu-wraper-inner{
    background-color:transparent;
    color:#fff;
}
.card-md {
    border-radius: 5px;
}
.card-header-md {
    background-color: rgba(238, 101, 33,1);
}
.button-md-primary {
    color: #fff;
    background-color: rgb(33, 34, 94) !important;
    width: 400px !important;
    padding: 23px !important;
    margin: 0 auto;
    border-radius: 5px;
}
button ion-label {
    color: rgb(33, 34, 94);
}