<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CONSIGNMENT.PICKUP.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="pickUpAddressForm" (submit)="savePickUpAddress()">
    <ion-card>
      <ion-card-header>
        {{ 'CONSIGNMENT.PICKUP.CARD_TITLE' | translate }}
      </ion-card-header>

      <ion-list>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.RECENT' | translate }}</ion-label>
          <ion-select interface="popover" style="text-align: left">
            <ion-option (ionSelect)="selectItem($event, address)" *ngFor="let address of recentAddresses" [value]="address.id">{{address.company_name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item align="left" (click)="addNewAddressClicked()">
          <ion-label icon-left>
            <ion-icon name="add-circle"></ion-icon>{{ 'CONSIGNMENT.PICKUP.BTN_CHANGE' | translate }}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.FIRST_NAME' | translate }}</ion-label>
          <ion-input type="text" formControlName="fName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.LAST_NAME' | translate }}</ion-label>
          <ion-input type="text" formControlName="lName"></ion-input>
        </ion-item>

        <!--       <ion-item>
          <ion-label floating> {{ 'PAYMENT_DASHBOARD.CREATE_PAYMENT.INVOICE_NO' | translate }}</ion-label>
          <ion-select interface="popover" formControlName="invoiceNo" style="text-align: left">
            <ion-option (ionSelect)="selectItem($event, invoice)" *ngFor="let invoice of invoices" [value]="invoice.id">{{invoice.invoice_number}}</ion-option>
          </ion-select>
        </ion-item> -->

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.COMPANY_NAME' | translate }}</ion-label>
          <ion-input type="text" formControlName="companyName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.EMAIL' | translate }}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.PHONE' | translate }}</ion-label>
          <ion-input type="phone" formControlName="phone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.ADDRESS' | translate }}</ion-label>
          <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.SUBURB' | translate }}</ion-label>
          <ion-input type="text" formControlName="suburb"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.STATE' | translate }}</ion-label>
          <ion-input type="text" formControlName="state"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.PIN_CODE' | translate }}</ion-label>
          <ion-input type="text" formControlName="pin"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.COUNTRY' | translate }}</ion-label>
          <ion-input type="text" formControlName="country"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating> {{ 'CONSIGNMENT.PICKUP.PICKUP_INSC' | translate }}</ion-label>
          <ion-input type="text" formControlName="pickupIns"></ion-input>
        </ion-item>

        <ion-item [hidden]="!isNewAddressClicked">
          <ion-label>{{ 'CONSIGNMENT.PICKUP.CHECK_BOX' | translate }}</ion-label>
          <ion-checkbox (ionChange)="checkBoxClicked( $event)"></ion-checkbox>
        </ion-item>

        <div padding class="login-btn">
          <button ion-button color="primary" [disabled]='!pickUpAddressForm.valid' block>{{ 'CONSIGNMENT.PICKUP.BTN_NEXT' | translate }}</button>
        </div>

      </ion-list>
    </ion-card>

  </form>
</ion-content>