<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CONSIGNMENT.ITEM.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="itemForm">
    <ion-list formArrayName="items">
      <ion-card *ngFor="let item of itemForm.controls.items.controls; let i=index" [formGroupName]="i">
        <ion-card-header>
          {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.TITLE' | translate }}
        </ion-card-header>

        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label icon-left>
                  <ion-icon name="archive"></ion-icon>{{ 'CONSIGNMENT.ITEM.CREATE_ITEM.TYPE' | translate }}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-select interface="popover" formControlName="type">
                <ion-option *ngFor="let package of packages" [value]="package.name">{{package.package_name}}</ion-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating> {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.QTY' | translate }}</ion-label>
                <ion-input type="number" formControlName="qty"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating> {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.LENGTH' | translate }}</ion-label>
                <ion-input type="number" formControlName="length"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-select align="right" interface="popover" formControlName="lenMeasure">
                  <ion-option (ionSelect)="selectItem($event, measure)" *ngFor="let measure of measurements" [value]="measure.name">{{measure.name}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating> {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.WIDTH' | translate }}</ion-label>
                <ion-input type="number" formControlName="width"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-select align="right" interface="popover" formControlName="widMeasure">
                  <ion-option *ngFor="let measure of measurements" [value]="measure.name">{{measure.name}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating> {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.HEIGHT' | translate }}</ion-label>
                <ion-input type="number" formControlName="height"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-select align="right" interface="popover" formControlName="heiMeasure">
                  <ion-option *ngFor="let measure of measurements" [value]="measure.name">{{measure.name}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-6>
              <ion-item>
                <ion-label floating> {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.WEIGHT' | translate }}</ion-label>
                <ion-input type="number" formControlName="weight"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-select align="right" interface="popover" formControlName="weiMeasure">
                  <ion-option>g</ion-option>
                  <ion-option>kg</ion-option>
                  <ion-option>oz</ion-option>
                  <ion-option>pnd</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-5>
              <ion-item>
                <ion-label floating> {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.VOL' | translate }}</ion-label>
                <ion-input type="number" formControlName="volume"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-7>
              <ion-item>

              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid>

        <ion-item>
          <button class="remove-item" type="button" (click)="removeState(i, item)" *ngIf="itemForm.controls.items.controls.length>1">
            <i class="fas fa-minus-circle"></i>
          </button>
        </ion-item>

      </ion-card>
    </ion-list>
  </form>
  <div class="add-item-wrapper">
    <button class="add-item" ion-button icon-start (click)="addItem()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </div>

  <div padding class="login-btn">
    <button ion-button color="primary" block [disabled]='!itemForm.valid' (click)="saveItems()">Next</button>
  </div>

</ion-content>