<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CONSIGNMENT.ITEM.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="itemForm" (submit)="saveItems()">
    <ion-list formArrayName="items">
      <ion-card *ngFor="let item of itemForm.controls.items.controls; let i=index" [formGroupName]="i">
          <ion-card-header>
              {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.TITLE' | translate }}
            </ion-card-header>
        <ion-item class="sign-form">
          <ion-label icon-left>
            <ion-icon name="archive"></ion-icon>{{ 'CONSIGNMENT.ITEM.CREATE_ITEM.TYPE' | translate }}
          </ion-label>
          <ion-select interface="popover" formControlName="type">
            <ion-option *ngFor="let package of packages" [value]="package.id">{{package.package_name}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="sign-form">
          <ion-label icon-left>
            <i class="fas fa-sort-numeric-down"></i>
          </ion-label>
          <ion-input type="number" formControlName="qty" placeholder=" {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.QTY' | translate }}"></ion-input>
        </ion-item>

        <ion-item class="sign-form">
          <ion-label icon-left>
            <ion-icon name="ribbon"></ion-icon>
          </ion-label>
          <ion-input type="number" formControlName="length" placeholder=" {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.LENGTH' | translate }}"></ion-input>
          <ion-select align="right" interface="popover" formControlName="lenMeasure">
            <ion-option>cm</ion-option>
            <ion-option>inch</ion-option>
            <ion-option>feet</ion-option>
            <ion-option>m</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="sign-form">
          <ion-label icon-left>
            <ion-icon name="ribbon"></ion-icon>
          </ion-label>
          <ion-input type="number" formControlName="width" placeholder=" {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.WIDTH' | translate }}"></ion-input>
          <ion-select align="right" interface="popover" formControlName="widMeasure">
            <ion-option>cm</ion-option>
            <ion-option>inch</ion-option>
            <ion-option>feet</ion-option>
            <ion-option>m</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="sign-form">
          <ion-label icon-left>
            <ion-icon name="ribbon"></ion-icon>
          </ion-label>
          <ion-input type="number" formControlName="height" placeholder=" {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.HEIGHT' | translate }}"></ion-input>
          <ion-select align="right" interface="popover" formControlName="heiMeasure">
            <ion-option>cm</ion-option>
            <ion-option>inch</ion-option>
            <ion-option>feet</ion-option>
            <ion-option>m</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="sign-form">
          <ion-label icon-left>
            <ion-icon name="ribbon"></ion-icon>
          </ion-label>
          <ion-input type="number" formControlName="weight" placeholder=" {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.WEIGHT' | translate }}"></ion-input>
          <ion-select align="right" interface="popover" formControlName="weiMeasure">
            <ion-option>g</ion-option>
            <ion-option>kg</ion-option>
            <ion-option>oz</ion-option>
            <ion-option>pnd</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="sign-form">
          <ion-label icon-left>
            <ion-icon name="ribbon"></ion-icon>
          </ion-label>
          <ion-input type="number" formControlName="volume" placeholder=" {{ 'CONSIGNMENT.ITEM.CREATE_ITEM.VOL' | translate }}"></ion-input>
        </ion-item>

        <ion-item>
          <button class="remove-item" type="button" (click)="removeState(i, item)" *ngIf="itemForm.controls.items.controls.length>1">
            <i class="fas fa-minus-circle"></i>
          </button>
        </ion-item>
      </ion-card>
    <div class="add-item-wrapper">
      <button class="add-item" ion-button icon-start (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </div>
    </ion-list>
    <div padding class="login-btn">
      <button ion-button color="primary" block>Save</button>
    </div>
  </form>
</ion-content>