page-view-address {
    .btn-background-dotted {
        color: rgb(238, 101, 33);
    }
    .far {
        padding-right: 10px;
    }
    .fab-md-secondary {
        color: #fff;
        background-color: rgb(33, 34, 94);
    }
}