page-finance-dashboard {
    .item-md {
        background-color: rgba(238, 101, 33, 1)
    }
    .fd-text {
        color: rgb(33, 34, 94);
    }
    .button-outline-md {
        border-color: rgb(33, 34, 94);
    }

  }